@charset "utf-8";
/* CSS Document */


Body {
	
	background-image: url("images/watercolor.png"); 
	background-repeat: no-repeat;
	background-size: cover;
}
#bundle {
	width: 915px;
	margin:0 auto;
}
header {
	width: 100%;
	height: 50px;
	border: thin;
	border-color: purple;
	}
h1{
	font-family: 'PT Serif', serif;
	font-size: 40px;
	font-style: normal;
	text-align: center;
    color: darkred;
}
h2,h3,h4,h5 {
	align-content: center;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	font-style: normal;
    color: blue;
}